#myCanvas {
    background-color: "red";
    align-self: center; 
}

#root {
    display: flex; 
    flex-direction: row;
    background-color: black;
}

body {
    background-color: black;
}

#summary {
    color: red;
    font-size:  20px; 
    height: 450px;
    width: 600px;
    margin-top: 50px;

}

.link-list {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: flex-start;
}

#controls {
    height: 300px;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 723px;
}

#control-tag {
    color: red;
}

#control-img {
    height: 275px;
    width: 300px;
    margin-top: -55px;
}

.mylinks {
    margin-right: 20px;
    margin-left: 10px;
    color: red;
}

#blue {
    color: blue;
}


#green {
    color: green;
}