#myCanvas {
    background-color: "red";
    align-self: center; 
}

#root {
    display: flex; 
    flex-direction: row;
    background-color: black;
}

body {
    background-color: black;
}

#highscore {
    color: red;
    font-size:  20px; 
    height: 450px;
    width: 600px;
    margin-top: 30px;

}

.link-list {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.backdrop {
    display: none;
    position: fixed;
    background: rgba(235, 226, 226, 0.5);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    background: blue; 
    padding: 10px;
    width: 260px;
    height: 200px;
    top: 250px;
    left: calc(50% - 140px);
    z-index: 1;
}

#controls {
    height: 300px;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 723px;
}

#control-tag {
    color: red;
}

#control-img {
    height: 275px;
    width: 300px;
    margin-top: -55px;
}

.mylinks {
    margin-right: 20px;
    margin-left: 10px;
}